@media (max-width: 1200px) {
  #hero {
    .hero {
      img {
        max-width: 400px;
      }
    }
  }
  #content {
    .content {
      .content-main {
        .content-card {
          max-width: 288px;
          width: 100%;
          img {
            max-width: 250px;
            width: 100%;
          }
        }
      }
    }
  }
}
@media (max-width: 1024px) {
  #header {
    .header {
      .header-link {
        button,
        img {
          display: none;
        }
        .burger-menu {
          display: block;
        }
      }
    }
  }
  #management {
    .management {
      img {
        max-width: 400px;
        width: 100%;
      }
    }
  }
  #product {
    .product {
      .product-main {
        flex-wrap: wrap;
        .product-card {
          max-width: 300px;
        }
      }
    }
  }
  .collaborative {
    display: block;
    justify-content: space-between;
    align-items: center;
    .clb-img {
      max-width: 400px;
      width: 100%;
    }
    .collaborative-text {
      max-width: 273px;
      width: 100%;
      .clt-icon {
        max-width: 273px;
        width: 100%;
      }
    }
  }
  #content {
    .content {
      .content-main {
        gap: 10px;
        .content-card {
          max-width: 288px;
          width: 100%;
          img {
            max-width: 230px;
            width: 100%;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  #hero {
    .hero {
      flex-direction: column-reverse;
      gap: 20px;
      .hero-text {
        text-align: center;
        align-items: center;
      }
    }
  }
  #product {
    .product {
      text-align: center;
      .product-main {
        flex-direction: column;
        .product-card {
          align-items: center;
        }
      }
    }
  }
  #management {
    .management {
      flex-direction: column-reverse;
      align-items: none;
      gap: 20px;
      .management-text {
        .management-text1 {
          gap: 5px;
        }
      }
    }
  }
  #collaborative {
    .collaborative {
      flex-direction: column;
      gap: 15px;
      .collaborative-text {
        .clt-icon {
          max-width: 486px;
          width: 100%;
          .clt-icon2 {
          }
        }
      }
    }
  }
  #quick {
    .quick {
      .quick-main {
        .coment {
          flex-direction: column;
          gap: 30px;
        }
      }
    }
  }
  #content {
    .content {
      flex-direction: column;
      .content-h3 {
        text-align: center;
      }
      .content-p {
        text-align: center;
      }
      .content-main {
        max-width: 560px;
        width: 100%;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        .content-card {
          flex-direction: column;
          align-items: start;
          max-width: 560px;
          width: 100%;
          .card-text {
            max-width: 560px;
            width: 100%;
            p {
              justify-content: start;
            }
          }
          img {
            max-width: 560px;
            width: 100%;
          }
        }
      }
    }
  }
  #price {
    .price {
      flex-direction: column;
      align-items: center;
      gap: 30px;
      .price-cards {
        flex-direction: column;
        align-items: center;
        width: 100%;
      }
      .price-card {
        flex-direction: column;
        align-items: center;
        max-width: 60%;
        width: 100%;
        gap: 10px;
      }
    }
  }
  #client {
    .client {
      justify-content: center;
      flex-direction: column;
      text-align: center;
      .client-cards {
        align-items: start;
        flex-direction: column;
        max-width: 80%;
        width: 100%;
        .client-card {
          text-align: start;
        }
      }
    }
  }
  #join {
    .join {
      flex-direction: column;
      justify-content: center;
      gap: 20px;
      .join-text {
        flex-direction: column;
        align-items: center;
        padding: 30px 45px;
      }
    }
  }
  #contact {
    .contact {
      flex-direction: column;
      text-align: center;
      .contact-cards {
        flex-direction: column;
        align-items: center;
        .contact-card {
          align-items: center;
          .cnt-icon {
            justify-content: center;
            padding-right: 10px;
          }
        }
        .contact-card2 {
          align-items: center;
         
        }
      }
    }
  }
}

@media (max-width: 640px) {
  #header {
    .header {
      .header-link {
        a {
          display: none;
        }
      }
    }
  }
}
@media (max-width: 475px) {
}
@media (max-width: 350px) {
}
